@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ProximaNovaRegular';
    src: local("ProximaNovaRegular"), 
    url('../../src/assets/fonts/proximanova_regular.ttf') format('truetype');    
}

@font-face {
    font-family: 'ProximaNovaLight';
    src: local("ProximaNovaLight"), 
    url('../../src/assets/fonts/proximanova_light.otf') format('opentype');    
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: local("ProximaNovaBold"), 
    url('../../src/assets/fonts/proximanova_bold.otf') format('opentype');    
}

@font-face {
    font-family: 'FreightTextProLightRegular';
    src: local("FreightTextProLightRegular"), 
    url('../../src/assets/fonts/FreightTextProLight-Regular.ttf') format('truetype');    
}

@font-face {
    font-family: 'FreightTextProBoldRegular';
    src: local("FreightTextProBoldRegular"), 
    url('../../src/assets/fonts/FreightTextProBold-Regular.ttf') format('truetype');    
}

#map-container {
    height: 100%;
    width: 100%;
    /* temporarily set the background color so we can tell where the map container is positioned */
    background-color: lightgrey;
  }

  .sidebar {
    background-color: rgb(35 55 75 / 90%);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
  }
  
  .reset-button {
    position: absolute;
    top: 50px;
    z-index: 1;
    left: 12px;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
  }

